<html>
  <head>
    <title>Gender Decoder: find subtle bias in job ads</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/reset.css" />
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,300,400" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      //ga('create', 'UA-49215167-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>

  <div class="container">
      <div class="header background-blue">
        <a href="https://witty.works">
          <img src="/static/images/logo.webp"/>
        </a>
        <a href="https://witty.works">
          <h4>witty works <i>– female tech boost</i></h4>
        </a>
      </div>

    <div class="main-content">
      {% block maincontent %}
      {% endblock %}
    </div>

    <div class="footer">
      <div>
        <h4>Für Unternehmen</h4>
        <ul>
          <li><a href="">Gender-Decoder</a></li>
          <li><a href="_">Jobplattform</a></li>
          <li><a href="_">Dossier-Suche</a></li>
          <li><a href="_">Audit Rekrutierungsprozess</a></li>
        </ul>
      </div>
      <div>
        <h4>Für Tech Frauen</h4>
        <ul>
          <li><a href="_">Jobplattform</a></li>
          <li><a href="_">Anmeldung Talentpool</a></li>
        </ul>
      </div>
      <div>
        <h4>Witty Works</h4>
        <ul>
          <li><a href="_">Über uns</a></li>
          <li><a href="_">Blog</a></li>
          <li><a href="_">Impressum</a></li>
          <li><a href="_">AGB's</a></li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div>
        <h4>Folge uns</h4>
        <ul class="social-media">
          <li><a href="_"><img src="/static/images/linkedin.webp"/></a></li>
          <li><a href="_"><img src="/static/images/twitter.webp"/></a></li>
          <li><a href="_"><img src="/static/images/facebook.webp"/></a></li>
          <li><a href="_"><img src="/static/images/instagram.webp"/></a></li>
        </ul>
      </div>
      <div>
        <h4>Kontakt</h4>
        <ul>
          <li>Rotwandstrasse 63</li>
          <li>8004 Zürich</li>
          <li><a class="email" href="mailto:contact@witty.works">contact@witty.works</a></li>
        </ul>
      </div>
      <div class="copyright">
        © 2019 witty works
      </div>
    </div>
  </div>

  </body>
</html>
