{% extends "basic-layout.html" %}

    {% block maincontent %}
        <div class="centered home-header section">
          <h1>Do it right – When Searching for Women in Tech</h1>
          <div class="video-wrapper">
            <div class="video">
              <iframe width="560" height="315" src="https://youtu.be/ffGzTB7RIAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="background-grey section">
          <h2>Guideline to tech-women-friendly job ad writing</h2>

          <p>Women have different application behaviours than men. Unfortunately, most job advertisements are written in a way to prevent women from applying. This has a negative impact on the number of applications you receive from women.</p>
          <p>Download our white paper and learn what makes the difference.</p>

          <div class="action">
            <a class="button" href="_">Get the free white paper</a>
          </div>
        </div>

        <div class="background-white section">
          <h2>Test your job ad</h2>

          <p>In this simple test tool, we look for very basic, but deterring factors in your job ad. We challenge adjectives and nouns used. Beware that there are many other factors which make a job ad non-attractive for Women in Tech.</p>

          {% from "_formhelpers.html" import render_field %}
          <form action="/" method="post" name="jobadform">
              {{ form.hidden_tag() }}
              {{ form.texttotest(cols="90", rows="20", placeholder="Paste your ad in English, German or French")|safe }}
              {{ render_field(form.name) }}
              {{ render_field(form.company) }}
              {{ render_field(form.email) }}
              <input type="submit" value="Check this ad" class="button action"/>
          </form>
        </div>

    {% endblock %}
